#main {

  width: 600px;
  margin: 0 auto;
}
h1 {
		color: #ff0000;
    font-family: arial,verdana,sans-serif;
    font-style: italic;
	}

body{

   background-color: rgb(245, 245, 245)
}

a:link{
  color: blue;
}
a:visited{
  color: red;

}
a.google{
  background: green;
}
a.yahoo{
  background: black;
}

a:active {
		background-color: red;
	}
